<footer class="bg-green text-light mt-5 pt-5 ">
    <div class="container">
        <div class="row">


            <div class="col-md-4 mb-4">
                <h4 class="fw-bold">WANDER</h4>
                <p>
                    Discover breathtaking destinations around the world with curated travel
                    experiences, local insights, and stress-free planning.
                </p>
            </div>


            <div class="col-md-2 mb-4">
                <h6 class="fw-bold">Explore</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="/about" class="text-light text-decoration-none">About</a></li>
                    <li><a href="/contact" class="text-light text-decoration-none">Contact</a></li>
                    <li><a href="#destinations" class="text-light text-decoration-none">Destinations</a></li>
                </ul>
            </div>


            <div class="col-md-3 mb-4">
                <h6 class="fw-bold">Support</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Help Center</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Terms & Conditions</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
                </ul>
            </div>


            <div class="col-md-3 mb-4">
                <h6 class="fw-bold">Follow Us</h6>
                <div class="d-flex gap-3">
                    <a href="#" class="text-light fs-4"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-light fs-4"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-light fs-4"><i class="bi bi-twitter"></i></a>
                    <div class="text-center">
                        <a href="https://www.tbceducation.ge/">
                <img src="../static/images/tbc-logo.png" class="rounded" alt="..." width="50px">
                        </a>
                </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">

            </div>
        </div>

        <hr class="border-secondary">


        <div class="row">
            <div class="col text-center pb-3">
                <p class="mb-0">&copy; 2026 Wander. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
