{% extends "base.html" %}

{% block title %}Search Page{% endblock %}

{% block container %}
<div class="container mt-4">

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.query(class="form-control", placeholder="Search products or destinations") }}
        <br>
        {{ form.submit(class="btn btn-primary") }}
    </form>

    <hr>

    <!-- Destinations -->
    <div class="row">
        {% for destination in destinations %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                {% if destination.image %}
                  <img src="{{ destination.image }}" class="card-img-top" alt="{{ destination.name }}">
                {% else %}
                  <img src="{{ url_for('static', filename='images/default.jpg') }}" class="card-img-top" alt="No image">
                {% endif %}
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-text">{{ destination.name }}</h5>
                    <p class="card-title">{{ destination.price }}₾</p>
                    <a href="/destination/{{ destination.id }}" class="btn btn-outline-warning">ნახვა</a>
                    {% if current_user.is_authenticated and current_user.role == "Admin" %}
                        <a href="/delete_destination/{{ destination.id }}" class="btn btn-outline-danger">წაშლა</a>
                        <a href="/edit_destination/{{ destination.id }}" class="btn btn-outline-info">რედაქტირება</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Products -->
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="/static/images/{{ product['image'] }}" class="card-img-top" alt="{{ product['name'] }}">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-text">{{ product['name'] }}</h5>
                    <p class="card-title">{{ product['price'] }}₾</p>
                    <a href="/detailed/{{ product['id'] }}" class="btn btn-outline-warning">ნახვა</a>
                    {% if current_user.is_authenticated and current_user.role == "Admin" %}
                        <a href="/delete/{{ product['id'] }}" class="btn btn-outline-danger">წაშლა</a>
                        <a href="/edit_product/{{ product['id'] }}" class="btn btn-outline-info">რედაქტირება</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
